AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
S3_BUCKET_RAW=raw-images-propelhq
S3_BUCKET_PROCESSED=processed-images-propelhq
SQS_QUEUE_NAME=image-processing-queue-propelhq
SQS_DLQ_NAME=image-processing-dlq-propelhq
SQS_QUEUE_URL=http://localstack:4566/000000000000/image-processing-queue-propelhq
WATERMARK_TEXT=PropelHQ
SQS_WAIT_TIME_SECONDS=20
SQS_MAX_MESSAGES=5
SQS_VISIBILITY_TIMEOUT=60
MAX_RETRIES=3
RETRY_BASE_DELAY=1.0
